In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_wine
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('letterCG.bin',sep=' ')
df.head()

,Class,x-box,y-box,width,high,Unnamed: 5,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,Unnamed: 18
0,C,4,10,5,8,2,5,7,7,10,7,6,13,1,8,4,9,NaN,NaN
1,C,3,5,4,4,2,4,8,5,7,12,9,11,1,10,2,7,NaN,NaN
2,G,5,10,6,7,3,8,7,8,8,6,7,9,2,7,5,10,NaN,NaN
3,C,5,9,6,7,4,3,8,6,7,12,10,13,1,9,3,7,NaN,NaN
4,G,4,8,5,6,3,6,6,7,6,10,7,12,2,9,4,9,NaN,NaN

In [3]:
df.drop(["Unnamed: 5", "Unnamed: 18", "yegvx"], axis=1, inplace=True)
df.fillna(0)

,Class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege
0,C,4,10,5,8,5,7,7,10,7,6,13,1,8,4,9
1,C,3,5,4,4,4,8,5,7,12,9,11,1,10,2,7
2,G,5,10,6,7,8,7,8,8,6,7,9,2,7,5,10
3,C,5,9,6,7,3,8,6,7,12,10,13,1,9,3,7
4,G,4,8,5,6,6,6,7,6,10,7,12,2,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1504,C,5,10,6,8,5,8,9,9,9,9,12,2,10,4,9
1505,C,6,11,7,8,6,7,10,9,10,7,11,2,12,4,9
1506,G,5,9,6,7,6,7,6,6,10,7,10,2,9,5,9
1507,C,6,11,7,8,5,8,7,6,8,8,15,4,9,6,6
1508,C,5,10,5,8,6,8,7,7,13,7,9,2,11,3,7

Q NO 1

In [6]:
X = df.iloc[:,1:]
y = df["Class"]

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=45)

Q NO 2

In [9]:
clf=DecisionTreeClassifier(max_depth=1)

In [11]:
ada_clf=AdaBoostClassifier(base_estimator=clf,n_estimators=100,learning_rate=1,algorithm='SAMME')
ada_clf.fit(X_train,y_train)
y_pred=ada_clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9492273730684326

Q NO 3

In [12]:
clf=DecisionTreeClassifier(max_depth=2)
ada_clf=AdaBoostClassifier(base_estimator=clf,n_estimators=100,learning_rate=1,algorithm='SAMME')
ada_clf.fit(X_train,y_train)
y_pred=ada_clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9735099337748344