In [108]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [109]:
df_main=pd.read_csv('Salaries.csv')
df_main.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Q NO 1

In [110]:
df=df_main.groupby('Year',as_index=False).agg({"TotalPay":np.mean})
df

   Year      TotalPay
0  2011  71743.819645
1  2012  74112.234931
2  2013  77611.443142
3  2014  75471.836912

In [111]:
x=float(df[df['Year']==2014]['TotalPay'])-float(df[df['Year']==2011]['TotalPay'])
print(f'Salary increment from 2011 to 2014 is {x}. ')

Salary increment from 2011 to 2014 is 3728.0172674075.

Q No 2

In [112]:
df=df_main[df_main["Year"]==2014]
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110529,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110530,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110531,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
110532,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110533,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148643,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148644,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148645,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148646,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [113]:
df=df.groupby('JobTitle').agg({'TotalPay':np.mean})

sal=df['TotalPay'].max()
job=df['TotalPay'].idxmax()
print(f'Highest paying Job is {job} with ann salary {sal}')

Highest paying Job is Chief Investment Officer with ann salary 339653.7

Q NO 3

In [114]:
df=df_main[df_main["Year"]==2014]
save=df['OvertimePay'].sum()
print('money saved From Overtime Pay in 2014: {save}')

money saved From Overtime Pay in 2014: {save}

Q NO 4

In [162]:
df=df_main[df_main["Year"]==2014]

x=df['JobTitle'].value_counts()
x1=x.to_dict()
df['counts']=df['JobTitle'].map(x1)
df=df.sort_values(by='counts',ascending=False)

df_new=df.groupby(['counts','JobTitle']).agg({'TotalPay':np.sum}).sort_values(by='counts')
print('top 5 common jobs in Year 2014 and Thier SFO as Totalpay :')
df_new.tail(5)[::-1]

top 5 common jobs in Year 2014 and Thier SFO as Totalpay :

                                         TotalPay
counts JobTitle
2479   Transit Operator              1.520080e+08
1478   Special Nurse                 4.949874e+07
1234   Registered Nurse              1.444065e+08
916    Public Svc Aide-Public Works  8.535454e+06
815    Firefighter                   1.132836e+08

Q NO 5

In [175]:
dfemp=df_main.groupby('Id',as_index=False).agg({'TotalPay':np.sum}).sort_values(by='TotalPay',ascending=False).head(1)
dfemp

   Id   TotalPay
0   1  567595.43

In [178]:
s=dfemp['Id']
print(f'HIghest earning employee id is : {s} ')

HIghest earning employee id is : 0    1
Name: Id, dtype: int64

Enhancements To Code

1

In [179]:
print('last 5 common jobs in Year 2014 and Thier SFO as Totalpay :')
df_new.head(5)[::-1]

last 5 common jobs in Year 2014 and Thier SFO as Totalpay :

                                     TotalPay
counts JobTitle
1      Power Plant Supervisor 1      21901.65
       Port Director                252149.01
       Plumber Supervisor 2         127407.43
       Painter Supervisor 2          99411.43
       ACPO,JuvP, Juv Prob (SFERS)   62290.78

2

In [186]:
dfen=df_main[df_main["Year"]==2011]
x=dfen['OvertimePay'].sum()
y=dfen['TotalPayBenefits'].sum()
percent='{:.2f}'.format((x/y)*100)
print(f' In year 201 OverTimePay was {percent} percentage of TotalPayBenefits')

 In year 201 OverTimePay was 6.32 percentage of TotalPayBenefits

3

In [187]:
df=df_main[df_main["Year"]==2014]
df=df.groupby('JobTitle').agg({'TotalPay':np.mean})
sal=df['TotalPay'].min()
job=df['TotalPay'].idxmin()
print(f'least paying Job is {job} with ann.salary {sal}')

least paying Job is Special Assistant 15 with ann.salary 0.0